#header{
  .header{
    height: calc(100vh - 110px);
    h1{
      font-size: 55px;
      font-weight: 600;
    }
    span{
      font-size: 14px;
      line-height: 21px;
    }
    .sub-header{
      color: #21d64c;
      font-size: 14px;
      background-color: #21d64b1c;
      padding: 12px 20px;
      border-radius: 12px;
    }
    .header-statistic{
      h5{
        color: #21d64c;
        font-weight: 600;
      }
      padding: 20px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.062);
    }
  }
}